torch==2.3.1 # adjust to match your cuda version
torchvision==0.18.1 # adjust to match your cuda version
rosbags==0.9.14
scipy
numpy
argparse
tqdm
open3d
pyyaml
matplotlib
tifffile
pillow
scikit-image==0.20.0
tensorboard
